footer#footer
    div#social
        a.symbol(href='//github.com/becodeorg/nyooz')
            i.fa.fa-github
    p.small Powered by &nbsp;
        a(href='https://hexo.io/') Hexo &nbsp;
        | Theme By &nbsp;
        a(href='https://github.com/fuzhouxxdong/hexo-theme-dxx') Dxx &nbsp;

